$indentation: 0,
5,
10,
15,
20,
25,
30,
35,
40,
45,
50,
55,
60,
65,
70,
75,
80,
85,
90,
95,
100,
105,
110,
115,
120,
125,
130,
135,
140,
145,
150;

@each $indent in $indentation {
  .m-t-#{$indent} {
    margin-top: #{$indent}px !important;
  }
  .m-r-#{$indent} {
    margin-right: #{$indent}px !important;
  }
  .m-b-#{$indent} {
    margin-bottom: #{$indent}px !important;
  }
  .m-l-#{$indent} {
    margin-left: #{$indent}px !important;
  }
  .p-t-#{$indent} {
    padding-top: #{$indent}px !important;
  }
  .p-r-#{$indent} {
    padding-right: #{$indent}px !important;
  }
  .p-b-#{$indent} {
    padding-bottom: #{$indent}px !important;
  }
  .p-l-#{$indent} {
    padding-left: #{$indent}px !important;
  }
}


@media (max-width: $screen-xl - 1px) {
  @each $indent in $indentation {
    .m-t-xl-#{$indent} {
      margin-top: #{$indent}px !important;
    }
    .m-r-xl-#{$indent} {
      margin-right: #{$indent}px !important;
    }
    .m-b-xl-#{$indent} {
      margin-bottom: #{$indent}px !important;
    }
    .m-l-xl-#{$indent} {
      margin-left: #{$indent}px !important;
    }
    .p-t-xl-#{$indent} {
      padding-top: #{$indent}px !important;
    }
    .p-r-xl-#{$indent} {
      padding-right: #{$indent}px !important;
    }
    .p-b-xl-#{$indent} {
      padding-bottom: #{$indent}px !important;
    }
    .p-l-xl-#{$indent} {
      padding-left: #{$indent}px !important;
    }
  }
}

@media (max-width: $screen-lg - 1px) {
  @each $indent in $indentation {
    .m-t-lg-#{$indent} {
      margin-top: #{$indent}px !important;
    }
    .m-r-lg-#{$indent} {
      margin-right: #{$indent}px !important;
    }
    .m-b-lg-#{$indent} {
      margin-bottom: #{$indent}px !important;
    }
    .m-l-lg-#{$indent} {
      margin-left: #{$indent}px !important;
    }
    .p-t-lg-#{$indent} {
      padding-top: #{$indent}px !important;
    }
    .p-r-lg-#{$indent} {
      padding-right: #{$indent}px !important;
    }
    .p-b-lg-#{$indent} {
      padding-bottom: #{$indent}px !important;
    }
    .p-l-lg-#{$indent} {
      padding-left: #{$indent}px !important;
    }
  }
}

@media (max-width: $screen-md - 1px) {
  @each $indent in $indentation {
    .m-t-md-#{$indent} {
      margin-top: #{$indent}px !important;
    }
    .m-r-md-#{$indent} {
      margin-right: #{$indent}px !important;
    }
    .m-b-md-#{$indent} {
      margin-bottom: #{$indent}px !important;
    }
    .m-l-md-#{$indent} {
      margin-left: #{$indent}px !important;
    }
    .p-t-md-#{$indent} {
      padding-top: #{$indent}px !important;
    }
    .p-r-md-#{$indent} {
      padding-right: #{$indent}px !important;
    }
    .p-b-md-#{$indent} {
      padding-bottom: #{$indent}px !important;
    }
    .p-l-md-#{$indent} {
      padding-left: #{$indent}px !important;
    }
  }
}

@media (max-width: $screen-sm - 1px) {
  @each $indent in $indentation {
    .m-t-sm-#{$indent} {
      margin-top: #{$indent}px !important;
    }
    .m-r-sm-#{$indent} {
      margin-right: #{$indent}px !important;
    }
    .m-b-sm-#{$indent} {
      margin-bottom: #{$indent}px !important;
    }
    .m-l-sm-#{$indent} {
      margin-left: #{$indent}px !important;
    }
    .p-t-sm-#{$indent} {
      padding-top: #{$indent}px !important;
    }
    .p-r-sm-#{$indent} {
      padding-right: #{$indent}px !important;
    }
    .p-b-sm-#{$indent} {
      padding-bottom: #{$indent}px !important;
    }
    .p-l-sm-#{$indent} {
      padding-left: #{$indent}px !important;
    }
  }
}


@each $indent in $indentation {
  .gap-#{$indent} {
    gap: #{$indent}px;
  }
  .col-gap-#{$indent} {
    column-gap: #{$indent}px;
  }
  .row-gap-#{$indent} {
    row-gap: #{$indent}px;
  }
}

@media(max-width: $screen-md - 1px) {
  @each $indent in $indentation {
    .gap-md-#{$indent} {
      gap: #{$indent}px;
    }
    .col-gap-md-#{$indent} {
      column-gap: #{$indent}px;
    }
    .row-gap-md-#{$indent} {
      row-gap: #{$indent}px;
    }
  }
}

@media(max-width: $screen-sm - 1px) {
  @each $indent in $indentation {
    .gap-sm-#{$indent} {
      gap: #{$indent}px;
    }
    .col-gap-sm-#{$indent} {
      column-gap: #{$indent}px;
    }
    .row-gap-sm-#{$indent} {
      row-gap: #{$indent}px;
    }
  }
}