//breakpoints
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

//text main options
$main-font: 'Roboto', sans-serif;
$main-font-size:18px;
$main-line-height:21px;
$main-font-weight:400;
$main-color:#000;

//page background colors
$primary-background-color: #0079BF;
$secondary-background-color:#0067A3;